.header1 {
 background-image:url(https://blog.vertexsms.com/content/images/2022/01/best-url-shorteners-cover.jpg);
    background-size: cover;
    height:50vh;
    background-position: center;
    width:100%;
    color: rgba(0, 0, 0, 0.811);
    padding: 80px 0;
    text-align: center;
  }
  
  .header-content h1 {
    font-size: 48px;
    margin: 0;
  }
  .header2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDo890dsxpB5UCLQFdVBWmK4qVxTrsrLEEUg&s);
       background-size: cover;
       height:50vh;
       background-position: center;
       width:100%;
       color: rgba(0, 0, 0, 0.811);
       padding: 80px 0;
       text-align: center;
     }
     
     .header-content h2 {
       font-size: 48px;
       margin: 0;
     }
     
     .header3 {
        background-image: url(https://m.media-amazon.com/images/I/71N1LzP2EWL._AC_UF1000,1000_QL80_.jpg);
           background-size: cover;
           height:50vh;
           background-position: center;
           width:100%;
           color: rgba(0, 0, 0, 0.811);
           padding: 80px 0;
           text-align: center;
         }
         
         .header-content h3 {
           font-size: 48px;
           margin: 0;
         }
         
         .header4 {
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiLEkvBCJMh6jBzUsV7bu30GCdr0cQLCQ9jA&s);
               background-size: cover;
               height:50vh;
               background-position: center;
               width:100%;
               color: rgba(0, 0, 0, 0.811);
               padding: 80px 0;
               text-align: center;
             }
             
             .header-content h4 {
               font-size: 48px;
               margin: 0;
             }
             
             .header5 {
                background-image: url(https://t3.ftcdn.net/jpg/08/40/38/84/360_F_840388468_KizsBREAAPPQ1yFISU9OacCg7w0KPKT7.jpg);
                   background-size: cover;
                   height:50vh;
                   background-position: center;
                   width:100%;
                   color: rgba(0, 0, 0, 0.811);
                   padding: 80px 0;
                   text-align: center;
                 }
                 
                 .header-content h5 {
                   font-size: 48px;
                   margin: 0;
                 }
                 
                 .header6 {
                    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240731/pngtree-world-best-for-mobile-hd-wallpapers-pxfuel-pictures-image_16119777.jpg);
                       background-size: cover;
                       height:50vh;
                       background-position: center;
                       width:100%;
                       color: rgba(0, 0, 0, 0.811);
                       padding: 80px 0;
                       text-align: center;
                     }
                     
                     .header-content h6 {
                       font-size: 48px;
                       margin: 0;
                     }
                     
                     .header7 {
                        background-image: url(https://getwallpapers.com/wallpaper/full/8/d/a/1295019-popular-best-nature-hd-wallpapers-1920x1080.jpg);
                           background-size: cover;
                           height:50vh;
                           background-position: center;
                           width:100%;
                           color: rgba(0, 0, 0, 0.811);
                           padding: 80px 0;
                           text-align: center;
                         }
                         
                         .header-content h7 {
                           font-size: 48px;
                           margin: 0;
                         }
                         
                         .header8 {
                            background-image: url(https://cdn.pixabay.com/photo/2018/11/28/13/45/nature-3843736_640.jpg);
                               background-size: cover;
                               height:50vh;
                               background-position: center;
                               width:100%;
                               color: rgba(0, 0, 0, 0.811);
                               padding: 80px 0;
                               text-align: center;
                             }
                             
                             .header-content h8 {
                               font-size: 48px;
                               margin: 0;
                             }
                             
                             